// COLORS
$color-primary: #ff5b5c;
$color-primary-light: #ff7b7c;
$color-primary-dark: #cc4849;

$color-secondary-light: #d27e5a;
$color-secondary-dark: #c4826d;

$color-tertiary-light: #d27e5a;
$color-tertiary-dark: #c4826d;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$default-font-family: Lato, sans-serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//MISC.

$default-border-radius: 3px;
